{% extends 'base.html' %}

{% block title %}Editar Tipo de Evento{% endblock %}

{% block content %}
<div class="container my-5">
    <h2>Editar Tipo de Evento</h2>
    
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.as_p }}
        </div>

        <button type="submit" class="btn btn-success">Salvar Alterações</button>
    </form>
</div>
<br>
<a href="{% url 'listar_tipos_evento' %}" class="btn btn-custom">Voltar para Lista de Tipos de Evento Cadastrados</a>
{% endblock %}
