{% extends 'base.html' %}

{% block title %}Editar Tamanho de Foto{% endblock %}

{% block content %}
<div class="container my-5">
    <h2>Editar Tamanho de Foto</h2>
    
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.as_p }}
        </div>

        <button type="submit" class="btn btn-success">Salvar Alterações</button>
    </form>
</div>
<br>
<a href="{% url 'listar_tamanhos_foto' %}" class="btn btn-custom">Voltar para Lista de Tamanhos Cadastrados</a>
{% endblock %}
