{% extends 'base.html' %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
<h2>Lista de Serviços</h2>
<table>
    <tr>
        <th>Nome do Serviço</th>
        <th>Descrição</th>
        <th>Ações</th>
    </tr>
    {% for servico in servicos %}
    <tr>
        <td>{{ servico.nome }}</td>
        <td>{{ servico.descricao }}</td>
        <td><a href="{% url 'editar_servico' servico.pk %}">Editar</a></td>
        <td><a href="{% url 'excluir_servico' servico.pk %}">Excluir</a></td>
    </tr>
    {% endfor %}
</table>

<a href="{% url 'novo_servico' %}">Novo Serviço</a>
{% endblock %}