{% extends 'base.html' %}

{% block title %}Lista de Clientes{% endblock %}

{% block content %}
<h2>Lista de Clientes</h2>
<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Endereço</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for cliente in clientes %}
        <tr>
            <td>{{ cliente.nome }}</td>
            <td>{{ cliente.email }}</td>
            <td>
                {% for telefone in cliente.telefones.all %}
                    ({{ telefone.codigo_area }}) {{ telefone.numero }}<br>
                {% endfor %}
            </td>
            <td>
                {% if cliente.enderecos %}
                {{ cliente.enderecos.logradouro }}, {{ cliente.enderecos.numero }}<br>
                {{ cliente.enderecos.complemento }} - {{ cliente.enderecos.bairro }}<br>
                {{ cliente.enderecos.cidade }}-{{ cliente.enderecos.estado }}
                {% else %}
                Endereço não disponível
                {% endif %}
            </td>
            <td>
                <a href="{% url 'editar_cliente' cliente.pk %}" class="button-link">Editar</a>
                <a href="{% url 'excluir_cliente' cliente.pk %}" class="button-link button-link-danger" onclick="return confirm('Tem certeza?')">Excluir</a>

            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<a href="{% url 'novo_cliente' %}" class="btn btn-custom">Cadastrar Novo Cliente</a>
{% endblock %}
