{% extends 'base.html' %}

{% block title %}Lista de Clientes{% endblock %}

{% block content %}
<h2>Lista de Clientes</h2>
<table>
    <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Telefone</th>
        <th>Ações</th>
    </tr>
    {% for cliente in clientes %}
    <tr>
        <td>{{ cliente.nome }}</td>
        <td>{{ cliente.email }}</td>
        <td>{{ cliente.telefone }}</td>
        <td><a href="{% url 'editar_cliente' cliente.pk %}">Editar</a></td>
        <td><a href="{% url 'excluir_cliente' cliente.pk %}">Excluir</a></td>
    </tr>
    {% endfor %}
</table>
<a href="{% url 'cadastrar_cliente' %}">Cadastrar Novo Cliente</a>
{% endblock %}